$default_background_color: rgb(16, 16, 16);
$default_background_layout_color: rgb(29, 29, 29);
$default_title_selected_text_color: #00b327;
$default_unselected_text_color: rgb(83, 83, 83);
$default_header_text_section_color: rgb(149, 154, 149);
$default_card_overlay_unselected_color: rgba(7, 81, 0, 0.511);
$default_card_overlay_selected_color: rgb(13, 150, 0);

/* ================================================= Category Section */
.category_section_container {
  padding: 1rem 2rem;
  user-select: none;
}

.categories_title {
  transition: 0.2s ease-in-out;
  color: #fff;
  font-size: 36px;
  font-weight: 600;

  &:hover {
    transition: 0.2s ease-in-out;
    text-shadow: 0 0 5px $default_title_selected_text_color;
    cursor: pointer;
  }
}

/* ================================================= Albums Card Section */

.card_container {
  transition: 0.4s ease-in-out;
  overflow: hidden;
  width: 17rem;
  height: 17rem;

  & .card_items {
    height: 100%;
  }

  &:hover {
    cursor: pointer;

    & .card_text_container {
      transition: 0.5s ease-in-out;
      padding: 1rem 1rem;
      top: 0%;
    }

    & .card_text_container_without_content {
      transition: 0.5s ease-in-out;
      padding: 0;
      top: 10%;
    }

    & .card_icon_container {
      transition: 0.5s ease-in-out;
      width: 100%;
      position: absolute;
      top: 60%;
      right: 5%;

      & .card_play_icon:hover {
        transition: 0.1s ease-in-out;
        transform: scale(1.1);
        color: $default_card_overlay_selected_color;
      }
    }
  }
}

.card_text_container {
  transition: 0.5s ease-in-out;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.628);
  padding: 0.5rem 1rem;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  top: 55%;
}

.card_text_container_without_content {
  position: absolute;
  top: 75%;
  transition: 0.5s ease-in-out;
}

.card_title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 200px;
  min-width: 200px;
}

.card_content {
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  position: relative;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 220px;
  font-size: 16px;
  min-width: 200px;
}

.card_container img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.card_overlay::after {
  transition: 0.4s ease-in-out;
  content: '';
  display: block;
  position: absolute;
  top: -105%;
  right: -100%;
  width: 400px;
  height: 300px;
  clip-path: ellipse();
}

.card_overlay::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.card_overlay:hover::after {
  transition: 0.4s ease-in-out;
  height: 300px;
  width: 450px;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: rotate(130deg);
}

.card_overlay:hover::before {
  transition: 0.4s ease-in-out;
  background-color: #fff;
  opacity: 0.2;
}

/* Bottom Card Icon */

.card_icon_container {
  transition: 0.5s ease-in-out;
  display: flex;
  width: 380px;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 60%;
  right: -50%;
}

.card_play_icon {
  color: #fff;
  transition: 0.1s ease-in-out;
  font-size: 64px;
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 3px solid black;
  background-color: black;
  border-radius: 100%;
}
