$categories_recommended_color: rgb(13, 150, 0);
$categories_focus_color: rgb(220, 147, 0);

.categories_recommend {
  box-shadow: -1px 2px 2px $categories_recommended_color;

  &:hover {
    box-shadow: 1px -1px 3px $categories_recommended_color;
  }

  &::after {
    background-color: $categories_recommended_color;
  }

  &:hover::after {
    background-color: $categories_recommended_color;
  }
}

.categories_focus {
  box-shadow: -1px 2px 2px $categories_focus_color;

  &:hover {
    box-shadow: 1px -1px 3px $categories_focus_color;
  }

  &::after {
    background-color: $categories_focus_color;
  }

  &:hover::after {
    background-color: $categories_focus_color;
  }
}
